name: 'publish'

on:
  push:
    branches:
      - main

# This is the example from the readme.
# On each push to the `release` branch it will create or update a GitHub release, build your app, and upload the artifacts to the release.

jobs:
  publish-tauri:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: 'macos-latest' # for Arm based macs (M1 and above).
            args: '--target aarch64-apple-darwin'
          - platform: 'ubuntu-latest' # for Tauri v1 you could replace this with ubuntu-20.04.
            args: ''
          - platform: 'windows-latest'
            args: ''

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
        with:
          # Those targets are only used on macos runners so it's in an `if` to slightly speed up windows and linux builds.
          targets: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-latest' # This must match the platform value defined above.
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf

      - name: install frontend dependencies
        run: npm install # change this to npm, pnpm or bun depending on which one you use.

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: cURL-UI-v__VERSION__ # the action automatically replaces \_\_VERSION\_\_ with the app version.
          releaseName: 'cURL-UI v__VERSION__'
          releaseBody: 'See the assets to download this version and install.'
          releaseDraft: true
          prerelease: false
          args: ${{ matrix.args }}

      - name: Upload Windows raw binary to release
        if: matrix.platform == 'windows-latest'
        shell: bash
        run: |
          # Aspetta 5 secondi per la propagazione della release
          sleep 5
          
          # Recupera la versione dal tauri.conf.json per ricostruire il tag
          # Se nel tauri-action hai messo tagName: app-v__VERSION__ usa quello:
          VERSION=$(jq -r .package.version src-tauri/tauri.conf.json)
          RELEASE_NAME="cURL-UI v$VERSION" 
          
          echo "version $VERSION"
          echo "release name $RELEASE_NAME"

          gh release upload "$RELEASE_NAME" src-tauri/target/release/curl-ui.exe --clobber
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
